.wrapper {
  flex: 1;
  display: flex;
  margin: 20px 20px 10px 40px;
}

.this {
  background: #fff;
  padding: 20px;
  position: relative;
  flex: 1;
}

.this,
.this::before,
.this::after {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

.this::before,
.this::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.this::before {
  right: 5px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.this::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}
